body {
    background-color: white;
}

@media only screen and (max-width: 500px) {
    body {
        background-color: lightblue;
    }
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 300%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

.relative{position:relative; width:600px;}
.absolute-text{position:absolute; bottom:0; font-size:38px; font-family:"cursive"; color: blue;
padding:120px 90px; width:100%; text-align:center; font-weight: bold;}
.absolute-text a{font-size:16px; color:#b92b27;}
