    table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 18px;
    padding:10px 0 0 10px;
}
table,th{
	background-color: grey;
}
table,td,th{
	border: 1px solid black;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: 14px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
